*{
    margin: 0;
    padding: 0;
}
.all{
    background-image: linear-gradient(to left bottom, #161fb3, #3c21b3, #5323b3, #6527b3, #742bb3, #5c45c2, #3e57cd, #0067d4, #007ed3, #008fc3, #009bad, #4aa49c);
}
body{
    color: #fff;
    background-image: linear-gradient(to left bottom, #161fb3, #3c21b3, #5323b3, #6527b3, #742bb3, #5c45c2, #3e57cd, #0067d4, #007ed3, #008fc3, #009bad, #4aa49c);

}

.body-div{
    display: flex;
    flex-direction: column;
}

h1{
    display: inline-block;
    padding-right: 62rem;
    padding-left: 15px;
}

.button-class{
    padding-right: 17px;
}

button{
    display: inline-block;
    /*padding: 7px;*/
    background-color: #f72727;
    border-radius: 6px;
    color: white;
    font-family:Bahnschrift;    
    font-size: 14px;
    height: 35px;
    width: 5rem;
}
button:hover{
    background-color:black;
}
.save-div{
    padding-left: 22rem;
    padding-bottom: 6px;
}

save-class:hover {
    color: black;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.save-class{
    /*padding: 7px;*/
    background-color: #f72727;
    border-radius: 6px;
    color: white;
    font-family:Bahnschrift;
    font-size: 1rem;
    height: 35px;
    width: 54px;
}

input[type="submit"] {
    background-color: #F86F03;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-left: 12px;
}

/* Hover effect for submit buttons */
input[type="submit"]:hover {
    background-color: black;
}

.head-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading{
    font-family: monospace;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 0px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.code-div{
    display: flex;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5px;
}

.html-div,.css-div,.js-div{
    display: flex;
    flex-direction: column;
    padding-bottom: 9px;
}

label{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    padding-left: 3px;
}

.lb-1{
    border-radius: 3px 3px 0 0;
    color: black;
    background-color: #F79327;
}

.lb-2{
    border-radius: 3px 3px 0 0;
    color: black;
    background-color: #75C2F6;
}

.lb-3{
    border-radius: 3px 3px 0 0;
    color: black;
    background-color: #FBD85D;
}

.right{
    width: 55rem;
    padding-left: 2rem;
    padding-right: 5px;
    padding-top: 40px;
}

.lb-out{
    background-color: #57C5B6;
    border-radius: 8px 8px 0 0;
    color: black;
    display: block;
    padding-left: 5px;
    padding-bottom: 1px;
}

textarea{
    border-radius: 0 0 6px 6px;
    resize: vertical;
    height: 10rem;
    width: 26rem;
    background-color:#20262E;
    color: white;
}
input[type=textarea]{
    font-family: Candara;
}

#loadButton{
    display:none;
}

iframe{
    width: 100%;
    height: 34rem;
    background: #fff;
    border: 0;
    border-radius: 0 0 8px 8px;
    outline: 0;
    padding-top: 0;
}